name: Push to main branch
on:
    push:
        branches:
            - main
permissions:
    contents: read
    packages: write
jobs:
    ci:
        name: CI
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup environment
              uses: ./.github/actions/setup-environment
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: CI
              uses: ./.github/actions/ci
    docker-build:
        name: Build and push Docker image
        needs: ci
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Build and push Docker image
              uses: ./.github/actions/docker-build
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
    e2e:
        name: E2E testing
        if: false
        needs: ci
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup environment
              uses: ./.github/actions/setup-environment
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Run E2E tests
              run: |
                  pnpm exec playwright install chromium
                  pnpm e2e
